{% extends "vacancy/base.html" %}
{% load static %}

{% block title %}Вакансия | Джуманджи{% endblock %}

{% block main %}
  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-2">
        <div class="pl-3 mb-5">
          <p><a href="#">Назад</a></p>
        </div>
      </div>
      <div class="col-12 col-lg-8">
        <section class="pl-3">
          <a href="#"><img src="{% static 'vacancy/'|add:vacancy.company.logo %}" width="130" height="80" alt=""></a>
          <div class="d-flex align-items-baseline align-content-baseline">
            <h1 class="h2 mt-4 font-weight-bold" >Название вакансии</h1>
            <p class="m-0 pl-3">Salary</p>
          </div>
       </section>
      </div>
    </div>
  </main>
{% endblock %}
