{% extends "vacancy/mycompany.html" %}

{% block title %}Заявка на вакансию | Джуманджи{% endblock %}

{% block main %}
<main class="container mt-3 pb-5">
  <div class="row mt-5">
    <div class="col-12 col-lg-12">
      <div class="card">
        <div class="card-body px-4 pb-4">
            <section class="tab-pane fade show active">
                <h2>{% block header %} Заявка на вакансию {% endblock %}</h2>
                <form enctype="multipart/form-data" method="post">{% csrf_token %}
                    <table>{{ form.as_table }}</table>
                    <button type="submit">Submit</button>
                </form>
            </section>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}

