{% extends "vacancy/base.html" %}

{% block title %} {{ company_name }} {% endblock %}
{% block body-style %}
<style>
    body {
      background-color: #F6F2E6;
    }
  </style>
{% endblock %}

{% block action %}
<div class="btn-group">
  <button type="button" class="btn dropdown-toggle font-weight-bold" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ request.user.first_name }} {{ request.user.last_name }}
  </button>
  <div class="dropdown-menu dropdown-menu-right mt-3">
    <a href="#" class="dropdown-item py-2">Профиль</a>
    <a href="#" class="dropdown-item py-2">Резюме</a>
    <a href="{% url 'company_edit' %}" class="dropdown-item py-2">Компания</a>
    <a href="{% url 'logout' %}" class="dropdown-item py-2">Выйти</a>
  </div>
</div>
{% endblock %}

{% block main %}
<main class="container mt-3 pb-5">
  <div class="row mt-5">
    <div class="col-12 col-lg-4">
      <aside class="pt-3 pb-4 px-4 mb-5 card">
        <h1 class="h4 pt-2 pb-2">{{ company_name }}</h1>
        <div class="nav flex-column nav-pills">
          <a class="nav-link {% if '/mycompany/' == request.path %} active {% endif %}" href="{% url 'company_edit' %}">1. Информация о&nbsp;компании</a>
          <a class="nav-link {% if '/mycompany/vacancies/' in request.path %} active {% endif %}" href="{% url 'my_vacancies' %}">2. Вакансии</a>
        </div>
      </aside>
    </div>
    <div class="col-12 col-lg-8">
      <div class="card">
        <div class="card-body px-4 pb-4">
          <!-- Tab -->
          {% block tab %}
          <section class="tab-pane fade show active">
            <h2 class="h4 pt-2 pb-3">Информация о&nbsp;компании</h2>
            <p class="alert alert-info" role="alert">
              Информация о компании обновлена
            </p>
            <form enctype="multipart/form-data" method="post">{% csrf_token %}
              <table>{{ form.as_table }}</table>
              <button type="submit">Submit</button>
            </form>
          </section>
          {% endblock %}
          <!-- END Tab -->
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
